
$darkGray:   rgba(28, 27, 26, 0.4);
$darkDarkGray:  rgba(0, 0, 0, 0.7);
$gray:    rgba(28, 27, 26, 0.5);
$grayTint:  rgba(28, 27, 26, 0.9);
$grayShade:  rgba(28, 27, 26, 0.1);
$grayLight: rgba(28, 27, 26, 0.07);
$grayMaxLight: rgba(28, 27, 26, 0.05);
$whiteGray:  #E4F0FF;
$white:   #fff;

$blue: #2985F7;

$mainContainer: 144rem;

$containerHorIndent: 12rem;
